/C_lang/XPEHb/count_word/build/
/C_lang/XPEHb/count_word/dist/
/uCITbITaHu9I/WebApplication1/WebApplication1/nbproject/private/
/uCITbITaHu9I/WebApplication1/WebApplication1/build/
/uCITbITaHu9I/WebApplication2/WebApplication2/nbproject/private/
/uCITbITaHu9I/WebApplication2/WebApplication2/build/
/ParSubsTest/target/
/uCITbITaHu9I/ParSubsJSF/nbproject/private/
/uCITbITaHu9I/mils-tools/nbproject/private/
/uCITbITaHu9I/mils-tools/build/
/uCITbITaHu9I/mils-tools/dist/
/uCITbITaHu9I/JavaQuiz/nbproject/private/
/uCITbITaHu9I/JavaQuiz/build/
/uCITbITaHu9I/JavaQuiz/dist/
/uCITbITaHu9I/JavaQuiz2/nbproject/private/
/uCITbITaHu9I/JavaQuiz2/build/
/uCITbITaHu9I/JavaQuiz3/nbproject/private/
/uCITbITaHu9I/JavaQuiz3/build/
/uCITbITaHu9I/JavaQuiz3/dist/